.profile {
  padding-top: 34px;
  padding-bottom: 20px;
  display: flex;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__image {
  width: 190px;
  margin: 0 20px 0 0;
  border-radius: 8%;
}

.profile__bio {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 32px;
  color: #212121;
  margin: 0 0 12px 0;
}

.description {
  font-size: 16px;
  opacity: 70%;
  margin: 0;
}

.edit-button {
  opacity: 70%;
  font-size: 16px;
  margin-top: auto;
  margin-right: auto;
  padding: 0;
  border: none;
  font-family: "Poppins", Arial, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  background-color: #fcf5e5;
}

.edit-button__image {
  padding-right: 8px;
}

.post-button {
  margin-left: auto;
  margin-top: auto;
  padding: 0;
  background-color: #212121;
  color: #fcf5e5;
  border-radius: 8%;
  border: none;
  width: 149px;
  height: 52px;
  font-family: "Poppins", Arial, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
}

.post-button__plus {
  padding-right: 8px;
}

@media screen and (max-width: 630px) {
  .profile {
    flex-direction: column;
    align-items: center;
  }

  .profile__image {
    padding-bottom: 12px;
    margin: 0;
  }

  .profile__bio {
    margin: 0;
    align-items: center;
  }

  .name {
    margin: 0;
    padding-bottom: 6px;
  }

  .edit-button {
    margin: 0;
    padding: 32px 0 20px 0;
  }

  .post-button {
    margin: 0;
  }
}
