.page {
  margin: auto;
  font-family: "Poppins", Arial, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: #212121;
  background-color: #fcf5e5;
  min-width: 320px;
}

.page__section {
  max-width: 1280px;
  margin: 0 auto;
}
